.navflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navlink {
    text-decoration: none;
    color: black;
}

.sliderdiv {
    border: 2px solid black;
    width: 80%;
    margin: auto;
    height: 50vh;
    display: none
}

.homeimgdiv {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.seconddiv {
    /* border: 2px solid black; */
    width: 35%;
    margin: 5px;
}

.img-first {
    /* border: 2px solid black; */
    margin: 5px;
}

.img1 {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.img2 {
    /* border: 2px solid black; */
    width: 100%;
    border-radius: 20px;
}

.img3 {
    /* border: 2px solid black; */
    width: 100%;
    border-radius: 20px;
}



.size {
    border: 2px solid black;
    width: 50%;
    margin: auto;
}

#rotate {
    display: inline-block;
    font-size: 0.7em;
    transform: rotate(270deg);
}

.siren {
    display: inline-block;
    position: relative;
    top: 5px;
    font-size: larger;
    padding: 0;
    margin: 0;
}

.linkcss {
    text-decoration: none;
}

.outerdiv_home {
    width: 80%;
    /* border: 2px solid black; */
    margin: auto;
}

.h2topname_home {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 5px;
    font-weight: 600;
}

.hrredline_home {
    background-color: red;
    height: 2px;
    width: 5%;
    margin-left: 0px;
    margin-bottom: 20px;
}

.homelatestParent {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home_itemdiv {
    border: 1px solid grey;
    width: 23%;
    height: 50vh;
    margin-bottom: 2%;
    padding: 10px;
    overflow: hidden;
}

.home_itemdiv:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.imgdiv_home {
    width: 100%;
    height: 25vh;
}

.contentdiv_home {
    /* border: 2px solid green; */
    text-wrap: wrap;
    overflow: hidden;

}

.divparent_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid black; */
    margin: auto;
}

.bor {
    border: 5px double greenyellow;
    height: 40vh;
    padding: 10px;
    background-color: aliceblue;
}

/* Bollywood Page */

.divparent {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85%;
    /* border: 2px solid black; */
    margin: auto;
}

.leftcat {
    /* border: 2px solid red; */
    width: 55%;
}

.h2topname {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.hrredline {
    width: 9%;
    background-color: red;
    height: 2px;
    text-align: left;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.itemdiv {
    /* border: 2px solid black; */
    margin: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.itemdiv:hover {
    box-shadow: 0 0 19px rgba(33, 33, 33, .2);
}

.imagediv {
    /* border: 2px solid blue; */
    width: 40%;
    height: 200px;
}

.imgfil {
    width: 100%;
    height: 100%;
}



.contentdiv {
    /* border: 2px solid orange; */
    width: 60%;
    height: auto;
    margin: 0% 0% 0% 2%;

}

.linegrey {
    color: grey;
    background-color: rgb(198, 195, 195);
}

.rightcat {
    /* border: 2px solid red; */
    width: 30%;
}

.spldiv {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
}

.spldiv:hover {
    box-shadow: 0 0 19px rgba(33, 33, 33, .2);
}

.imagedivspl {
    width: 100%;
    height: 200px;
    /* border: 2px solid black; */
}

.contentdivspl {
    width: 80%;
    /* border: 2px solid red; */
    display: inline-block;
}

.toppostsnum {
    width: 15%;
    /* border: 2px solid orange; */
    display: inline-block;
    height: 70px;
    text-align: center;
}

.itemdiv2 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 10px 0px;
    /* border: 1px solid black; */
}

.itemdiv2:hover {
    box-shadow: 0 0 19px rgba(33, 33, 33, .2);
}

.imgdiv2 {
    width: 30%;
    height: 100px;
    /* border: 2px solid green; */
}

.contentdiv2 {
    width: 50%;
    /* border: 2px solid blue; */
}

.advertisement {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    height: 110vh;
    background-color: whitesmoke;
}

.imagediv3 {
    width: 100%;
    height: 45vh;
    /* border: 2px solid red; */
}


.itemdiv3 {
    width: 40%;
    /* border: 2px solid black; */
    margin: auto;
}

.author {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
}

.itemdiv3_logo {
    width: 13%;
    height: 10vh;
    /* border: 2px solid violet; */
}

.createrinfo {
    width: 60%;
    /* border: 2px solid black; */
    margin: 0px 0px 0px 5px;
}

.div3_logos {
    width: 25%;
    /* border: 2px solid green; */
}

.img_logo {
    width: 20%;
    /* border: 2px solid red; */
    margin-top: 12%;
    margin-right: 2%;
    border-radius: 50%;
}

.ptag {
    text-align: justify;
}

.like_share {
    /* border: 2px solid black; */
    position: absolute;
    top: 50%;
    left: 10%;
    width: 15%;
}

.likenshare_logo {
    display: inline-block;
    border-radius: 50%;
    width: 25%;
    /* border: 2px solid red; */
}

.imgfil2 {
    width: 70%;
    left: 10px;
    height: 80%;
}

.h4tag {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
    /* border: 2px solid black; */
}

.span2 {
    /* line-height: 80%; */
    margin-bottom: 5%;
    /* border: 2px solid blue; */
    position: absolute;
    top: 70%;
}

.suggestions {
    /* border: 2px solid black; */
    background-color: blanchedalmond;
    padding-top: 0.5%;
    padding-bottom: 2%;
}

.related_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.related_itemdiv {
    /* border: 2px solid black; */
    width: 23%;
    height: 45vh;
    padding: 10px;
}

.related_imgdiv {
    /* border: 2px solid blue; */
    width: 100%;
    height: 25vh;
}

.related_contentdiv {
    height: 9vh;
}

.related_author {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.relateditem_logo {
    width: 12%;
    height: 6vh;
    /* border: 2px solid violet; */
}

.backbutdiv {
    /* border: 2px solid red; */
    width: 10%;
    position: absolute;
    top: 17%;
    left: 10%;
}

.backbutton {
    /* border: 2px solid black; */
    width: 100%;
    padding: 10px;
    font-size: large;
    background-color: black;
    color: azure;
    cursor: pointer;
}

.related_createrinfo {
    width: 70%;
    height: 6vh;
    /* border: 2px solid orange; */
    margin-left: 5px;
}

.footer {
    width: 100%;
    background-color: black;
    color: beige;
    /* height: 35vh; */
    margin: 0;
}

.footerflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.foot {
    width: 30%;
    /* border: 2px solid white; */
    margin: 0.5%;
    text-align: center;
    color: beige;
}

.iconfooter {
    margin-right: 2%;
}

.hoo {
    margin: 10px;
}

/* display none */
.disnone {
    display: none;
}

/* display block */
.disblock {
    display: inline-block;
}

/* head css in news page*/
.headcss {
    width: fit-content;
    text-align: left;
    margin-left: 10%;
    display: inline-block;
    /* border: 2px solid black; */
}

.dummybut {
    border: 2px solid rgb(84, 228, 84);
    color: green;
    padding: 5px;
    float: right;
    margin: 2% 10% 0% 0%;
}